<% include partials/_header %>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h3>Editar Tarea</h3>
            <!-- Formulario para editar la tarea -->
            <form action="/tasks/edit/<%= task._id %>" method="post">
              <!-- Modificado el action para apuntar a /tasks/edit/:id -->
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre"
                  value="<%= task.nombre %>" required>
              </div>
              <div class="form-group">
                <% if(task.planEstudios=="grado" ){ %>
                  <select name="planEstudios">
                    <option selected value="grado">Grado</option>
                    <option value="master">Master</option>
                    <option value="doctorado">Doctorado</option>
                  </select>
                  <% }else if(task.planEstudios=="master" ){ %>
                    <select name="planEstudios">
                      <option value="grado">Grado</option>
                      <option selected value="master">Master</option>
                      <option value="doctorado">Doctorado</option>
                    </select>
                    <% }else{ %>
                      <select name="planEstudios">
                        <option value="grado">Grado</option>
                        <option value="master">Master</option>
                        <option selected value="doctorado">Doctorado</option>
                      </select>
                      <% } %>
              </div>
              <div class="form-group">
                <label for="cuatrimestre">Cuatrimestre:</label>
                <input class="form-control" type="text" name="cuatrimestre" id="cuatrimestre" placeholder="Cuatrimestre"
                  value="<%= task.cuatrimestre %>" required>
              </div>
              <div class="form-group">
                <label for="curso">Curso:</label>
                <input class="form-control" type="text" name="curso" id="curso" placeholder="Curso"
                  value="<%= task.curso %>" required>
              </div>
              <button class="btn btn-primary" type="submit">Guardar Cambios</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/_footer %>