<% include partials/_header %>
<style>
    h1{
        text-align: center;
        color:red;
    }
</style>
<h1 >Página no encontrada</h1>
<% if (error) { %>
    <pre><%= error %></pre> <!-- Mostrar el stack de error -->
<% } %>
<% include partials/_footer %>
