<% include partials/_header %>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <form action="/signup" method="POST">
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <!--Añadido el campo para introducir el rol-->
          <!--Cambiado a un dropdown-->
          <select name="rol">
            <option value="administrador">Administrador</option>
            <option value="profesor">Profesor</option>
            <option value="alumno">Alumno</option>
          </select>
          <button class="btn btn-primary" type="submit">
            SignUp
          </button>
        </form>
      </div>
    </div>
  </div>

  <%if (signupMessage) {%>
    <p style="color:#FF0000;">
      <%= signupMessage %>
    </p>
    <% } %>
      <% include partials/_footer %>