<% include partials/_header %>
  <div class="container">
    <div class="row">
      <!--Formulario-->
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body">
            <form action="/users/edit/<%= user._id %>" method="post">
              <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email" value="<%= user.email %>">
              </div>

              <!-- No implementado por no saber encriptar y desencriptar las contraseñas
              <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" value="<%= user.password %>">
              </div>
              -->

              <!--Campo (tipo dropdown) para introducir el rol-->
              <div class="form-group">
                <select name="rol">
                  <option value="administrador">Administrador</option>
                  <option value="profesor">Profesor</option>
                  <option value="alumno">Alumno</option>
                </select>
              </div>
              <button class="btn btn-primary" type="submit">Actualizar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/_footer%>